/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

#skills {
    background-color: aliceblue;
    margin-top: 0px;
    width: 100%;
    height: 350px;
}

#sk>h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 96px;
    font-style: italic;
    color: rgb(255, 255, 255);
    margin-top: 200px;
    margin-left: 106px;
}

#skills>section>.idioma {
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    text-align: center;
    background-color: white;
}

#skills>section>ul>li {
    width: 300px;
    color: black;
    text-align: left;
    margin-left: 5px;


}

#skills>.Desenvolvimento>ul>li {
    float: left;
    width: 40%;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 5px;
    margin-right: 0px;

}

#sk>#skills>#idioma {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 25px;
    width: 400px;
    height: 350px;
    margin-left: 350px;
    float: left;
}

#sk>#skills>.Desenvolvimento {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 25px;
    width: 400px;
    height: 350px;
    margin-left: 50px;
    float: left;
} */