@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


#projetos>h2 {
    font-size: 96px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 7px;
    color: rgb(255, 255, 255);
    margin-top: 65px;
}

#projetos {
    width: 1400px;
    height: 565px;
    margin-left: 110px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 25px;
}

#projetos>#frente {
    width: 350px;
    height: 400px;
    display: block;
    float: left;
    position: relative;
    background-color: aqua;
    margin-left: 25px;
}

#projetos>section>div {
    width: 350px;
    height: 350px;
    border-radius: 15px;
    display: block;
    float: left;
    position: relative;
    background-color: rgb(65, 135, 131);
    color: aliceblue;
    text-align: center;
}

#projetos>section {
    width: 350px;
    height: 500px;
    display: block;
    float: left;
    margin-left: 60px;
    margin-right: 40px;
    display: block;
}

/*barra branca*/
.fundo {
    width: 1616px;
    height: 250px;
    margin-top: 190px;
    position: absolute;
    background-color: aliceblue;
}

.botao {
    width: 200px;
    height: 70px;
    border-radius: 15px;
    background-color: rgb(213, 88, 88);
    font-size: 25px;
    margin-top: 25px;
    margin-left: 70px;
    position: relative;
    border: none;
}

.botao>a {
    text-decoration: none;
    color: aliceblue;
}